<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Home</title>
</head>
<body>
    <h1>My Skills</h1>
    <p>Cloud Platforms: AWS, Azure
Containerization: Docker, Kubernetes
CI/CD Tools: Jenkins, GitLab CI
Configuration Management: Ansible, Terraform
Scripting Languages: Python, Bash
Version Control: Git, GitHub
Monitoring Tools: Prometheus, Grafana.</p>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/projects">Projects</a></li>
        </ul>
    </nav>
</body>
</html>
