<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
</head>
<body>
    <h1>My Projects</h1>
    <ul>
        <li><strong>Project 1:Automated CI/CD Pipeline:</strong>  Developed an automated CI/CD pipeline using Jenkins and GitLab CI for a sample web application.</li>
        <li><strong>Project 2:Infrastructure as Code with Terraform:</strong> Implemented infrastructure as code (IaC) using Terraform to provision and manage AWS resources.</li>
        <li><strong>Project 3:Containerized Application Deployment:</strong> Containerized a sample application using Docker and deployed it on a Kubernetes cluster.</li>
    </ul>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/projects">Projects</a></li>
        </ul>
    </nav>
</body>
</html>
